.dayModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 1s;
  overflow: auto;

  .dayModal__container {
    animation: showAnimation 0.4s;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #17151e;
    padding: 20px;
    border: 0 none;
    width: 50%;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);

    .dayModal__additionalText {
      text-decoration: underline;
      padding: 20px;
    }

    .dayModal__additional {
      display: flex;
      flex-direction: column;
      text-align: center;

      &--show {
        display: flex;
        animation: showAnimation 0.4s;
      }

      &--hide {
        display: none;
        animation: showAnimation 0.4s;
      }
    }

    .dayModal__content {
      display: flex;
      flex-direction: column;

      .dayModal__title {
        text-align: center;
      }

      .dayModal__stat {
        text-align: left;
      }

      .dayModal__formInputContainer {
        display: flex;
        padding: 10px;

        &--row {
          flex-direction: row;
        }

        &--column {
          flex-direction: column;

          span:not(.icon) {
            display: flex;
            flex: 1;
            align-items: center;
            min-width: 100px;
            justify-content: center;
            padding: 3px;
          }
        }

        &--center {
          text-align: center;
          justify-content: center;
          align-items: center;
        }

        span {
          font-size: 14px;
        }

        .input__inactive {
          background-color: #2e2e2e !important;
        }

        .input__number,
        .input__time,
        .input__text,
        .input__select {
          font-family: inherit;
          font-size: 13px;
          border-radius: 10px;
          outline: none;
          border: 1px solid #ffffff;
          width: 100%;
          height: 40px;
          background-color: #17151e;
          border-color: 1px;
          color: #ffffff;
          padding: 10px;
        }

        .input__button {
          width: 100%;
          margin: 3px;
          background-color: #6e2364;
          height: 30px;
          border: 0.1px solid rgba(255, 255, 255, 0.1);
          color: #fff;
          border-radius: 50px;
          font-size: 14px;

          &--delete {
            background-color: #6e2323;
          }
        }

        #input__dropdownSport {
          font-family: inherit;
          font-size: 13px;
          border-radius: 10px;
          outline: none;
          border: 1px solid #ffffff;
          width: 100%;
          height: 40px;
          background-color: #17151e;
          border-color: 1px;
          color: #ffffff;
          padding: 10px;
        }

        .input__dropdownSportContainer {
          position: relative;
          display: inline-block;
        }

        .input__dropdownSportContent {
          display: none;
          position: absolute;
          background-color: #17151e;
          width: 100%;
          border: 1px solid #ffffff;
          z-index: 1;
        }

        .input__dropdownSportContent {
          a {
            color: #ffffff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }

          a:hover {
            background-color: #6e2364;
          }
        }

        .show__dropdownSportContent {
          display: block;
          max-height: 300px;
          overflow-y: auto;
        }
      }
    }

    .dayModal__close {
      color: #aaa;
      float: right;
      font-size: 19px;
      font-weight: bold;
      background-color: transparent;
      border: none;

      &:hover,
      &:focus {
        color: rgb(153, 153, 153);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@import './DayModal-mobile.scss';
