@media only screen and (max-width: 1280px) {
  .userPage {
    padding: 3px;

    .userPage__table {
      margin: 10px 0;
      width: 100%;

      th,
      .userPage__table--icon,
      .userPage__table--name,
      .userPage__table--value,
      .userPage__table--date,
      .userPage__table--sport,
      .userPage__table--label {
        padding: 6px 5px;
      }
    }
  }
}
