.userPage {
  padding: 5px;
  animation: showAnimation 0.4s;
  width: 100%;

  .input__button {
    width: 200px;
    margin: 3px;
    background-color: #6e2364;
    height: 30px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
  }

  .userPage__table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
      background-color: #6e2364;
      color: #ffffff;
      text-align: left;
    }

    th,
    .userPage__table--icon,
    .userPage__table--name,
    .userPage__table--value,
    .userPage__table--date,
    .userPage__table--sport {
      padding: 8px 15px;
      white-space: nowrap;
      text-align: center;
    }

    .userPage__table--label {
      padding: 8px 15px;
      white-space: nowrap;
      text-align: left;
      background-color: #292635;
      font-weight: bold;
    }

    .userPage__table--name {
      max-width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .userPage__table--sport {
      max-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    tbody {
      tr:nth-of-type(even):hover,
      tr:hover {
        background-color: #4a475c;
      }

      tr:nth-of-type(even) {
        background-color: #3d3a4e;
      }

      tr:last-of-type {
        border-bottom: 2px solid #3d3a4e;
      }

      tr.userPage__table--activeRow {
        font-weight: bold;
        color: #3d3a4e;
      }
    }
  }
}

@import './UserPage-mobile.scss';
