.userPage {
  padding: 5px;
  animation: showAnimation 0.4s;
  width: 100%;

  .input__button {
    width: 200px;
    margin: 3px;
    background-color: #6e2364;
    height: 30px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
  }

  .userPage__table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
      background-color: #6e2364;
      color: #ffffff;
      text-align: left;
    }

    th,
    .userPage__table--icon,
    .userPage__table--name,
    .userPage__table--value,
    .userPage__table--date,
    .userPage__table--sport {
      padding: 8px 15px;
      white-space: nowrap;
      text-align: center;
    }

    .userPage__table--label {
      padding: 8px 15px;
      white-space: nowrap;
      text-align: left;
      background-color: #292635;
      font-weight: bold;
    }

    .userPage__table--name {
      max-width: 80px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .userPage__table--sport {
      max-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    tbody {
      tr:nth-of-type(even):hover,
      tr:hover {
        background-color: #4a475c;
      }

      tr:nth-of-type(even) {
        background-color: #3d3a4e;
      }

      tr:last-of-type {
        border-bottom: 2px solid #3d3a4e;
      }

      tr.userPage__table--activeRow {
        font-weight: bold;
        color: #3d3a4e;
      }
    }
  }

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: visibility 1s;
    overflow: auto;

    .modal__container {
      animation: showAnimation 0.4s;
      border-radius: 10px;
      margin: 10px auto;
      background-color: #17151e;
      padding: 20px;
      border: 0 none;
      width: 50%;
      -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.75);

      &--center {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }

    .modal__close {
      color: #aaa;
      float: right;
      font-size: 19px;
      font-weight: bold;
      background-color: transparent;
      border: none;

      &:hover,
      &:focus {
        color: rgb(153, 153, 153);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

@import './UserPage-mobile.scss';
