.calendarTiles {
  .day {
    background-color: #6e2364;
    font-family: 'Open Sans', sans-serif;
    height: 21px;
    width: 21px;
    margin: 4px;
    float: left;
    cursor: pointer;
    color: #7c838c;
    font-size: 8px;
    padding: 0px 0px 7px 7px;
  }
}
