@media only screen and (max-width: 1280px) {
  .fitCalendar {
    .fitCalendar__contentContainer {
      flex-direction: column;
      justify-content: flex-start;
    }

    .fitCalendar__contentContainer {
      margin: unset;
    }

    .fitCalendar__leftContainer {
      width: 100%;
    }

    .fitCalendar__rightContainer {
      width: calc(100% - 15px);
      overflow-x: scroll;
      margin: 10px;
    }
  }
}
