.calendar {
  padding: 5px;
  animation: showAnimation 0.4s;

  .calendar__header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .calendar__headerTitle {
      margin-top: 5px;
      color: #e2e2e2;
    }

    .calendar__actualYear {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 3vh;
      margin-bottom: 9px;
      padding: 0;
      transform: rotate(180deg);
      color: #e2e2e2;
    }

    .calendar__subtractYear {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 2vh;
      margin-bottom: 9px;
      transform: rotate(180deg);
      color: #e2e2e2;
    }

    .calendar__addYear {
      cursor: pointer;
      border: none;
      background-color: transparent;
      font-size: 2vh;
      margin-bottom: 12px;
      color: #e2e2e2;
    }
  }

  .calendar__switchTypeView {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    .switchTypeView__button {
      width: 90px;
      margin: 3px;
      background-color: #6e2364;
      height: 20px;
      border: 0.1px solid rgba(255, 255, 255, 0.1);
      color: #fff;
      border-radius: 50px;
      font-size: 12px;
    }
  }

  .calendar__tilesContainer {
    display: flex;
    flex-direction: column;
    min-width: 935px;
  }
}
