.welcomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://picsum.photos/1600/900.webp?blur=1&grayscale');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: showBackground 1s linear;

  .welcomePage__container {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 20px;
    animation: showAnimation 0.4s;

    .welcomePage__footer {
      font-size: 8px;
      color: #ffffff;
      position: fixed;
      bottom: 10px;
      left: 10px;
      opacity: 0.8;
      text-align: left;
    }
  }
}
