.todayCard {
  animation: showAnimation 0.4s;
  font-size: 14px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #1d1b29;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .todayCard__date {
    text-align: center;
    margin-bottom: 10px;
  }

  .todayCard__content {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }

  .todayCard__addWorkoutButton {
    cursor: pointer;
    width: 100%;
    margin: 3px;
    background-color: #6e2364;
    height: 30px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
  }
}
