.todayCard {
  animation: showAnimation 0.4s;
  font-size: 14px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #1d1b29;
  display: flex;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);

  .todayCard__date {
    text-align: center;
    margin-bottom: 10px;
  }

  .todayCard__contentHeader {
    margin-bottom: 8px;
  }

  .todayCard__contentDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #2f2d3c;
    padding-top: 8px;
  }

  .todayCard__content {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    flex-wrap: wrap;

    span:not(.icon) {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 100px;
      justify-content: center;
      padding: 3px;
    }
  }

  .todayCard__addWorkoutButton {
    cursor: pointer;
    width: 100%;
    margin: 3px;
    background-color: #6e2364;
    height: 30px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
  }
}

@import './TodayCard-mobile.scss';
