.statisticCard {
  animation: showAnimation 0.4s;
  font-size: 14px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #1d1b29;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .statisticCard__header {
    margin: 5px;
    font-weight: bold;
  }

  .statisticCard__date {
    text-align: center;
    margin-bottom: 10px;
  }

  .statisticCard__contentDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .statisticCard__content {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    flex-wrap: wrap;

    .statisticCard__hr {
      width: 100%;
      height: 1px;
      color: #2b283a;
    }

    span:not(.icon) {
      display: flex;
      flex: 1;
      align-items: center;
      min-width: 100px;
      justify-content: center;
      padding: 3px;
    }
  }

  .statisticCard__addWorkoutButton {
    cursor: pointer;
    width: 100%;
    margin: 3px;
    background-color: #6e2364;
    height: 30px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
  }
}
